<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="your-question">
    <p><%= params[:question] %><br><i>- You</i></br></p>
  </div>
  <br></br>
  <div class="coach-answer">
    <p><%= @answer %><br><i>- Your coach</i></br></p>
  </div>
  <%= link_to "Ask a new question", ask_path %>
</div>
