<div class="container text-left">
  <h1 class="row d-flex col-sm-12">Stupid Coaching</h1>
  <form action="answer" class="row d-flex align-items-center justify-content-left">
    <div class="col-sm-12">
      <label for="question" class="form-label">Ask your coach anything:</label>
    </div>
    <div class="col-sm-10">
      <input type="question" class="form-control" id="question" name="question">
    </div>
    <input type="submit" value="Ask!" class="btn btn-primary ml-3">
  </form>
</div>

<!-- d-flex align-items-center justify-content-left -->
